@use "./scss/_root.scss";
@use "./scss/_variables.scss" as *;

$nav-pills-link-border-radius: 1.25rem;
@use "../node_modules/bootstrap/scss/bootstrap" with (
  $theme-colors: $custom-theme-colors,
  $form-check-input-checked-bg-color: $primary,
  $form-check-input-checked-border-color: $primary,
  $input-placeholder-color: #fff,
  $focus-ring-width: 0,
  $link-color: $primary,
  $link-hover-color: $primary-hover,
  $grid-breakpoints: $grid-breakpoints,
  $container-max-widths: $container-max-widths,
  $nav-pills-link-active-bg: $primary,
  $nav-pills-link-active-color: #fff,
  $nav-pills-border-radius: 1.25rem
);
$font-primary: "Campton Book";

@use "./font.css";
@use "./icons.css";
@use "./scss/animations.scss";
@use "./scss/components.scss";
@use "./scss/header.scss";
@use "./scss/hero-slider.scss";
@use "./scss/footer.scss";

.fw-extrabold {
  font-weight: 800;
}

html,
body {
  font-family: var(--font-primary);
  background-color: #ffffff;
  overflow-x: hidden;

  /* 1. Ultra Geniş Ekranlar (1400px ve üzeri - XXL) */
  @media (min-width: 1400px) {
    font-size: 16px;
  }

  /* 2. Masaüstü / Büyük Ekranlar (1200px - 1400px - XL) */
  @media (max-width: 1399.98px) {
    font-size: 15px; /* Belirlediğin LG hedefi */
  }

  /* 3. Laptop / Küçük Masaüstü (1024px - 1200px) */
  @media (max-width: 1199.98px) {
    font-size: 14.5px;
  }

  /* 4. Tablet - Yatay (992px - 1024px) */
  @media (max-width: 1023.98px) {
    font-size: 14px;
  }

  /* 5. Tablet - Dikey (768px - 992px) */
  @media (max-width: 991.98px) {
    font-size: 13.5px;
  }

  /* 6. Büyük Telefonlar (576px - 768px) */
  @media (max-width: 767.98px) {
    font-size: 13px;
  }

  /* 7. Küçük Telefonlar (576px ve altı) */
  @media (max-width: 575.98px) {
    font-size: 12px !important;
  }
}

.section-title {
  font-family: var(--font-manrope);
  font-size: 1.125rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 0;

  &.left-line {
    position: relative;
    padding-left: 6rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5rem;
      height: 0.125rem;
      background-color: var(--primary);
      border-radius: 0px;
    }
  }

  &.right-line {
    position: relative;
    padding-right: 6rem;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5rem;
      height: 0.125rem;
      background-color: var(--primary);
      border-radius: 0px;
    }
  }

  @media (max-width: 576px) {
    font-size: 1.25rem;
  }
}
.section-subtitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.625rem;
  @media (max-width: 576px) {
    font-size: 1.625rem;
  }
}
.section-content {
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
}
.content {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;

  p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
}

.btn-outline-primary {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border-color: #a2a2a2;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  max-height: 2.5rem;
  line-height: 1;
  width: fit-content;

  span {
    padding: 0 0.75rem;
  }

  .icon-arrow-right {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
    font-size: 1.25rem;
    padding: 0 0.5rem;
  }

  &.rounded-full {
    border-radius: 50rem;
  }

  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
    .icon-arrow-right {
      transform: rotate(-45deg) translateX(5px);
    }

    &.text-primary {
      color: #fff !important;
    }
  }

  &.active-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
      transform: scale(1.1);
    }
  }
  &.text-primary {
    &:hover {
      color: #fff;
    }
  }
}

.background-image {
  position: fixed;
  top: 0; // Görselin tam oturması için 0 daha iyi olabilir
  right: 0;
  width: 75%; // Görseldeki gibi geniş bir alan kaplasın
  height: 100%;
  max-height: 100vh;
  z-index: 0;
  pointer-events: none;
  opacity: 0.3; // Görseldeki gibi çok daha silik bir doku için
  mix-blend-mode: screen;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    // Hem soldan hem de üstten/alttan yumuşatarak siyahlığın içine gömüyoruz
    -webkit-mask-image:
      linear-gradient(to left, #292929 10%, transparent 90%),
      linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
    mask-image:
      linear-gradient(to left, black 10%, transparent 90%),
      linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);

    -webkit-mask-composite: source-in; // Maskeleri birleştirir
    mask-composite: intersect;
  }

  // Görseldeki sağ alt/sağ üst kırmızı parlama ve genel karartma için
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    // Sol tarafa doğru siyahlık, sağ tarafa doğru ise çok hafif şeffaf kırmızı geçişi
    background:
      linear-gradient(to right, #000 15%, transparent 60%),
      radial-gradient(circle at bottom right, rgba(100, 31, 35, 0.4) 0%, transparent 50%);
    z-index: 1;
  }
}

.stats-section {
  position: relative;
  overflow: hidden;
  min-height: 35rem;
  padding: 4rem 0 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    z-index: 2;
  }
}

.homepage-about-section {
  position: relative;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  isolation: isolate;
  margin-bottom: 2rem;
  padding: 4rem 0 4rem 0;
  .section-heading {
    .section-title {
      font-size: 3rem;
      font-weight: 700;
    }
    .section-subtitle {
      color: #454545;
      font-size: 2rem;
      font-weight: 400;
      b {
        font-weight: 600;
      }
    }
  }
  .about-us-and-video-area {
    position: relative;
    overflow: hidden;
    height: 26.875rem;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    img {
      border-radius: 0;
    }
    .video-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 26.875rem;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
        border-radius: 0;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      .video-play-button {
        position: absolute;
        width: 6rem;
        height: 6rem;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .blue-box {
      background-color: #263c83;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 26.875rem;
      z-index: 1;
      p {
        text-align: center;
        font-size: 1.125rem;
      }
      .bg-right-bottom-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 100%;
        opacity: 1;
        z-index: -1;
      }
      .stats-item {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 1rem 1.5rem 1rem 1.5rem;
        .stats-number {
          font-size: 1.5rem;
          font-weight: 600;
          color: #ffffff;
          margin-right: 1rem;
          margin-bottom: 0;
        }
        .stats-text {
          font-size: 1.5rem;
          text-transform: uppercase;
          color: #ffffff;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .section-heading {
      .section-title {
        font-size: 1.5rem;
      }
      .section-subtitle {
        font-size: 1.125rem;
      }
    }
    .about-us-and-video-area {
      flex-direction: column;
      height: auto;
      .video-box,
      .blue-box {
        width: 100%;
        height: auto;
        max-height: none;
      }
      .video-box {
        margin-bottom: 2rem;
      }
    }
  }
}

.homepage-projects-section {
  position: relative;
  overflow: hidden;
  padding: 4rem 0 4rem 0;
  .carouselProjects {
    .carousel-inner {
      height: 45rem;
      min-height: 45rem;
      max-height: 45rem;
      .carousel-item {
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .carousel-project-link {
          button.next-prev-btn {
            transform: rotate(-45deg);
            background-color: transparent;
            position: absolute;
            right: 0;
            top: 0;
            border: 0;
            text-decoration: none;
            color: #fff;

            font-size: 3rem;
            padding: 0.5rem 1rem;
            z-index: 1001;
          }
        }
        .zoom-button {
          position: absolute;
          bottom: 2rem;
          left: 2rem;
          background-color: transparent;
          border: 0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 3rem;
          z-index: 1001;
          transition: all 0.3s ease-in-out;
          svg {
            width: 3rem;
            height: 3rem;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      @media (max-width: 1650px) {
        height: 40rem;
        min-height: 40rem;
        max-height: 40rem;
      }
      @media (max-width: 1440px) {
        height: 38rem;
        min-height: 38rem;
        max-height: 38rem;
      }
      @media (max-width: 1200px) {
        height: 30rem;
        min-height: 30rem;
        max-height: 30rem;
      }
      @media (max-width: 992px) {
        height: 25rem;
        min-height: 25rem;
        max-height: 25rem;
      }
      @media (max-width: 768px) {
        height: 20rem;
        min-height: 20rem;
        max-height: 20rem;
      }
    }
    .carousel-indicators {
      justify-content: end;
      margin-right: 1rem;
      margin-left: 1rem;
      button {
        width: 4rem;
        height: 0.3125rem;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 1);
        &.active {
          width: 9.375rem;
          background-color: var(--primary);
        }
      }
    }
  }
  .carousel-controls {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel-control-prev, .carousel-control-next {
      background-color: var(--primary);
      width: 2.875rem;
      height: 2.875rem;
      border-radius: 50%;
      opacity: 1;
      position: relative;
      left: none;
      right: none;
      top: none;
      bottom: none;
      font-size: 2.5rem;
    }
  }
  @media (max-width: 576px) {
    .carouselProjects {
      .carousel-inner {
        height: 25rem;
        min-height: 25rem;
        max-height: 25rem;
      }
    }
  }
}

.projects-section {
  position: relative;
  z-index: 2;

  .project-item {
    position: relative;
    height: 45rem;
    min-height: 45rem;
    max-height: 45rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &.animation-hover {
      img.img-fluid {
        transform: scale(1);
        transition: transform 1.2s ease-in;
      }
      &:hover {
        img.img-fluid {
          transform: scale(2);
        }
      }
    }

    &.three-column {
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      height: 24rem;
      max-height: 24rem;
      min-height: 24rem;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
        z-index: 0;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.6s ease;
        z-index: 0;
      }
      @media (max-width: 1650px) {
        height: 24rem;
        min-height: 24rem;
        max-height: 24rem;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
    }
    button.right-button {
      position: absolute;
      right: 2rem;
      top: 1rem;
      background-color: transparent;
      width: 3rem;
      height: 4rem;
      border: 0;
      color: #fff;
      transition: all 0.3s ease-in-out;
      transform: rotate(-45deg);
      i {
        font-size: 3rem;
      }
    }
    &:hover {
      cursor: pointer;
      button.right-button {
        top: 0.5rem;
        right: 1rem;
      }
      img {
        transform: scale(1.05);
      }
    }
    @media (max-width: 1650px) {
      height: 40rem;
      min-height: 40rem;
      max-height: 40rem;
    }
    @media (max-width: 1440px) {
      height: 38rem;
      min-height: 38rem;
      max-height: 38rem;
    }
    @media (max-width: 1200px) {
      height: 30rem;
      min-height: 30rem;
      max-height: 30rem;
    }
    @media (max-width: 992px) {
      height: 25rem;
      min-height: 25rem;
      max-height: 25rem;
    }
    @media (max-width: 768px) {
      height: 20rem;
      min-height: 20rem;
      max-height: 20rem;
    }
    @media (max-width: 576px) {
      height: 18.5rem;
      min-height: 18.5rem;
    }
  }
}

.homepage-services-section {
  position: relative;
  overflow: hidden;

  .services-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: zoom-and-move 10s ease-in-out infinite;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
      z-index: 1;
    }
  }

  .services-left {
    color: #fff;
    overflow: hidden;

    .services-content {
      position: relative;
      z-index: 1;
    }
  }

  .services-right {
    position: relative;
    opacity: 1;
    color: #fff;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
      z-index: 0;
      width: 100%;
      height: 100%;
    }

    .service-list {
      position: relative;
      z-index: 2;
    }

    .service-item {
      padding: 1.5rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); // İnce çizgiler

      &:last-child {
        border-bottom: none;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: #fff;
      }

      p {
        font-size: 1rem;
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
}

// Custom Buton Stili
.btn-services {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.homepage-products-section {
  position: relative;
  overflow: hidden;
  padding: 4rem 0 0 0;
  .section-heading {
    .content {
      font-size: 2rem;
      font-family: var(--font-gotu);
      color: #ffffff;
      line-height: 1.8;
      margin-bottom: 2rem;
    }
  }
}

.references-section {
  position: relative;
  overflow: hidden;
  padding: 4rem 0 4rem 0;
  .grid-card-item {
    max-height: 6.25rem;
    min-height: 6.25rem;
  }

  .filter-button-group {
    .btn-outline-primary {
      border-radius: 50px; // Daha modern, yuvarlak hatlar
      padding: 0.5rem 1.5rem;
      font-weight: 500;
      transition: all 0.3s ease;
      border-color: rgba($primary, 0.3); // Varsayılan border daha hafif

      &:hover,
      &.active {
        background-color: var(--primary);
        border-color: var(--primary);
        color: #fff;
        box-shadow: 0 4px 15px rgba($primary, 0.3);
        transform: translateY(-2px);
      }
    }
  }

  .active-filter-info {
    display: flex;
    align-items: center;

    & > span {
      color: #ccc;
    }

    .filter-chip {
      display: inline-flex;
      align-items: center;
      background: var(--primary);
      border: 1px solid var(--primary);
      padding: 4px 12px;
      border-radius: 100px;
      font-size: 0.875rem;
      font-weight: 600;

      span {
        color: #fff;
      }

      .remove-filter {
        margin-left: 8px;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;

        i {
          font-size: 12px;
          transition: transform 0.2s;
        }

        &:hover i {
          transform: scale(1.2);
        }
      }
    }
  }
}

.products-section {
  .section-title {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  .section-subtitle {
    font-size: 1.875rem;
  }
  .offer-block {
    position: relative;
    align-items: center;
    border-radius: 1.25rem;
    padding: 2rem 2.75rem;
    margin-top: 6rem;
    background-color: #2b2a2a;
    p {
      font-size: 1rem;
      color: #ffffff;
      line-height: 1.8;
      margin-bottom: 0rem;
    }
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.8;
    font-family: var(--font-secondary);
    margin-bottom: 1.5rem;
  }
}

.contact-us-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 3rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero-title {
    font-size: 2.25rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    color: var(--primary);
  }
  .hero-subtitle {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: var(--font-primary);
  }
  .hero-description {
    color: #ffffff;
    font-size: 1.125rem;
    margin-bottom: 2rem;
    p {
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
    }
  }
  .content {
    p {
      color: #fff;
      font-weight: 300;
      font-size: 1.3125rem;
    }
  }
  .map {
    border-radius: 1.25rem;
    overflow: hidden;
    height: 27.5rem;
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  .list-unstyled {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--primary);
        border-radius: 50%;
        margin-right: 1rem;
        flex-shrink: 0;
        i {
          color: #fff;
          font-size: 1.25rem;
        }
      }
      p {
        font-size: 1.3125rem;
        color: #ffffff;
        margin: 0;
        font-weight: 300;
      }
      a {
        color: #ffffff;
        font-size: 1.3125rem;
        text-decoration: none;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social-icons {
    a {
      color: #fff;
    }
  }
  @media (max-width: 576px) {
    .hero-title {
      font-size: 1.5rem;
    }
    .hero-subtitle {
      font-size: 2rem;
    }
    .hero-description {
      font-size: 1rem;
    }
  }
}

.product-detail-image {
  position: relative;
  background-color: #0a0a0a;
  max-height: 31.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.875rem;
  padding: 1rem;
  #productCarousel {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .embla__viewport {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .embla__container {
      height: 26rem;
      display: flex;
      align-items: center;
    }
    .embla-controls {
      height: 3.75rem;
    }
  }
  .product-card {
    .product-image {
      border-radius: 1.875rem;
      img {
        width: 100%;
        height: auto;
        max-height: 26rem;
        border-radius: 1.875rem;
      }
    }
  }
}

#pills-tab {
  gap: 3rem;
  button.nav-link {
    background: radial-gradient(circle at top right, #7c2727, rgba(46, 45, 45, 0.9) 30%, #2e2d2d 60%);
    border-radius: 1.25rem;
    height: 3.625rem;
    width: 13rem;
    color: #ffffff;
    &.active {
      background-color: var(--primary);
      color: #fff;
    }
  }
  @media (max-width: 36rem) {
    gap: 1rem;
    row-gap: 1rem;
    li {
      flex: 1 1 calc(50% - 0.5rem);
      button.nav-link {
        width: 100%;
      }
    }
  }
}
#pills-tabContent {
  margin-top: 1rem;
  background-color: #2a2a2a;
  border-radius: 1.25rem;
  color: #ffffff;
  .tab-pane {
    padding: 2rem 1.5rem;
    margin-bottom: 0;
  }
}

.product-detail-section {
  position: relative;
  z-index: 2;
}

@media (min-width: 992px) {
  .product-detail-slide-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    .embla-controls {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      transform: translateY(-50%);
    }
  }
}

.content {
  p {
    font-size: 1.125rem;
    font-weight: 300;
  }
}

.project-details-container {
  background-color: #121212;
  padding: 2rem 0;
  color: #fff;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.25rem;
      font-size: 1rem;

      strong {
        flex: 0 0 18.75rem;
        font-weight: 600;
        position: relative;
        padding-right: 20px;

        &::after {
          content: ":";
          position: absolute;
          right: 5px;
          font-weight: 400;
        }
      }

      span {
        flex: 1;
        color: #ccc;
        padding-left: 10px;
        line-height: 1.5;
      }

      @media (max-width: 991.98px) {
        flex-direction: column;

        strong {
          flex: 0 0 auto;
          width: 100%;
          margin-bottom: 5px;

          &::after {
            display: none;
          }
        }

        span {
          padding-left: 0;
        }
      }
    }
  }
}

.products-section {
  position: relative;
  z-index: 2;
}

.news-section {
  position: relative;
  min-height: 20rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 4rem 0;

  .section-title {
    font-size: 2.25rem;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    padding: 0;
    min-height: 24.375rem;
    max-height: 24.375rem;

    transition: all 0.3s ease-in-out;

    .card-icon {
      background-color: transparent;
      width: 4rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: end;
      color: #121212;
      margin-left: auto;
      transition: all 0.3s ease-in-out;

      svg {
        width: 2rem;
        height: 2rem;
        transition: all 0.3s ease-in-out;
        fill: #121212;
      }
      i {
        transition: all 0.3s ease-in-out;
        font-size: 3rem;
        color: #fff;
        transform: rotate(-45deg);
        &::before {
          fill: #121212;
        }
      }
    }
    .card-img-top {
      border-radius: 0;
      transition: all 0.6s ease-in-out;
      filter: brightness(70%);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card-body {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      .card-content {
        padding: 0 2.5rem;
        .card-text {
          font-size: 1.125rem;
          font-weight: 300;
          color: #fff;
          line-height: 1.8;
          display: none;
        }
      }
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      color: #ffffff;
    }

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      .card-icon {
        svg,
        i {
          transform: rotate(-45deg);
        }
      }
      background-color: var(--primary);
      img.card-img-top {
        transform: scale(1.6);
        opacity: 0;
      }
      .card-body {
        justify-content: normal;
        .card-content {
          .card-text {
            display: block;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .section-title {
      font-size: 1.125rem;
    }
  }
}

.our-services-section {
  position: relative;
  overflow: hidden;
  padding: 4rem 0 4rem 0;

  &.no-first-load-card-image {
    .card-img-top {
      display: none;
    }
  }

  &.no-image {
    .card-img-top {
      display: none;
    }
    .card {
      &:hover {
        background-color: var(--primary);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .card {
    min-height: 18.75rem;
    max-height: 18.75rem;
    &.border-none {
      border: none;
    }
    .card-body {
      justify-content: normal;
      .card-icon {
        i {
          color: var(--primary);
          font-size: 3rem;
        }
      }
      .card-content {
        a {
          .card-title {
            color: var(--primary);
          }
        }
        .card-text {
          color: #252525;
          font-weight: 300;
          font-size: 1.125rem;
          display: block;
        }
      }
    }
    &:hover {
      background-color: transparent;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      img.card-img-top {
        display: block;
        opacity: 1;
      }
      .card-body {
        .card-icon {
          i {
            color: #fff;
          }
        }
        .card-content {
          a {
            .card-title {
              color: #fff;
            }
          }
          .card-text {
            color: #fff;
          }
        }
      }
    }
  }

  .embla-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    button {
      background-color: var(--primary);
      color: #fff;
      width: 2.875rem;
      height: 2.875rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 1rem;
      margin: 0 0.5rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba($primary, 0.9);
        transform: scale(0.9);
        color: #fff;
      }
      i {
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}

.faq-section {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  .faq-card {
    background-color: var(--primary);
    padding: 3rem 2rem;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    min-height: 31.25rem;

    .accordion-item {
      background: transparent;
      border: none;
      margin-bottom: 1rem;

      .accordion-button {
        background-color: rgb(255 255 255);
        color: #1a1a1a;
        font-weight: 500;
        box-shadow: none;

        &:not(.collapsed) {
          background-color: #fff;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        }

        &:after {
          filter: invert(1);
        }
      }

      .accordion-body {
        padding: 1rem 1.5rem;
        color: darken(#1a1a1a, 10%);
        font-size: 0.95rem;
        line-height: 1.6;
      }
    }

    .decor-lines-top-1 {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 10rem;
      height: 10rem;
      border-top: 0.5rem solid rgba(255, 255, 255, 0.4);
      border-left: 0.5rem solid rgba(255, 255, 255, 0.4);
      transform: rotate(0deg);
      border-radius: 0rem 0 0 0;
      transform: scale(0.95);
    }
    .decor-lines-top-2 {
      position: absolute;
      top: 2rem;
      left: 2rem;
      width: 7rem;
      height: 7rem;
      border-top: 0.5rem solid rgba(255, 255, 255, 0.4);
      border-left: 0.5rem solid rgba(255, 255, 255, 0.4);
      transform: rotate(0deg);
      border-radius: 0 0 0 0;
      transform: scale(0.9);
    }
    .decor-lines-top-3 {
      position: absolute;
      top: 3.5rem;
      left: 3.5rem;
      width: 4rem;
      height: 4rem;
      border-top: 0.5rem solid rgba(255, 255, 255, 0.4);
      border-left: 0.5rem solid rgba(255, 255, 255, 0.4);
      transform: rotate(0deg);
      border-radius: 0 0 0 0;
      transform: scale(0.85);
    }

    .decor-lines-1 {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      width: 10rem;
      height: 10rem;
      border-bottom: 0.5rem solid rgba(255, 255, 255, 0.4);
      border-right: 0.5rem solid rgba(255, 255, 255, 0.4);
      transform: rotate(0deg);
      border-radius: 0 0 0 0;
      transform: scale(0.95);
    }
    .decor-lines-2 {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      width: 7rem;
      height: 7rem;
      border-bottom: 0.5rem solid rgba(255, 255, 255, 0.4);
      border-right: 0.5rem solid rgba(255, 255, 255, 0.4);
      transform: rotate(0deg);
      border-radius: 0 0 0 0;
      transform: scale(0.9);
    }
    .decor-lines-3 {
      position: absolute;
      bottom: 3.5rem;
      right: 3.5rem;
      width: 4rem;
      height: 4rem;
      border-bottom: 0.5rem solid rgba(255, 255, 255, 0.4);
      border-right: 0.5rem solid rgba(255, 255, 255, 0.4);
      transform: rotate(0deg);
      border-radius: 0 0 0 0;
      transform: scale(0.85);
    }
  }

  .content-box {
    .description {
      color: #666;
      margin-bottom: 2rem;
    }

    .btn-outline-dark {
      background-color: transparent;
      color: #1a1a1a;
      border-color: #1a1a1a;
      border-radius: 30px;
      padding: 0.75rem 2rem;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--primary);
        border-color: var(--primary);
        color: #fff;
      }
    }

    .feature-item {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 2rem;

      .icon {
        width: 3.75rem;
        height: 3.75rem;
        background: #121212;
        color: var(--primary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      h4 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.3rem;
      }

      p {
        color: #777;
        margin: 0;
      }
    }
  }
}

.our-companies {
  position: relative;
  padding: 1rem 0 1rem 0;

  &::after {
    left: 20%;
    bottom: -3.75rem;
    position: absolute;
    content: "";
    border-right: 30px solid rgba(255, 255, 255, 0);
    border-left: 30px solid rgba(255, 255, 255, 0);
    border-top: 30px solid white;
    border-bottom: 30px solid rgba(255, 255, 255, 0);
  }
  @media screen and (max-width: 768px) {
    &::after {
      width: 10%;
      left: 0;
      right: 0;
      bottom: -3.75rem;
      margin: 0 auto;
      position: absolute;
      content: "";
      border-right: 30px solid rgba(255, 255, 255, 0);
      border-left: 30px solid rgba(255, 255, 255, 0);
      border-top: 30px solid white;
      border-bottom: 30px solid rgba(255, 255, 255, 0);
    }
  }
}

main.sub-page {
  padding-bottom: 1rem;

  .page-header {
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 8rem; // absolute header için boşluk

    &__bg {
      position: absolute;
      inset: 0;
      background-image: url("../images/eliz-vip-transfer-arac-acik-yolcu-gorseli-dikey.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;

      transform: scale(1.05);
      z-index: 1;
    }

    &__overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6));
      z-index: 2;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(18, 18, 18, 0.95) 0%, rgba(18, 18, 18, 0.1) 70%, transparent 100%);
        mix-blend-mode: multiply;
        pointer-events: none;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6rem;
        z-index: 3;
        background-image: linear-gradient(180deg, transparent 0%, #090909 100%);
        pointer-events: none;
      }
    }

    &__content {
      position: relative;
      z-index: 3;
      text-align: center;
      color: #fff;

      .hero-title {
        font-size: 1.625rem;
        font-weight: 700;
        margin-bottom: 1rem;
        font-family: var(--font-gotu);
        color: var(--primary);
      }
      .hero-subtitle {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #ffffff;
        font-family: var(--font-primary);
      }
      .hero-description {
        font-size: 1.125rem;
        margin-bottom: 2rem;
        p {
          font-size: 1.125rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
