:root {
  --primary: #f8b54a;
  --primary-hover: #f8b54a;
  --primary-rgba: rgba(227, 11, 24, 0.1);
  --font-primary: "Manrope", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --menu-font-family: "Manrope", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-gotu: "Gotu", sans-serif;
}
