:root {
  --primary: #2d3e85;
  --primary-hover: #2d3e85;
  --primary-rgba: rgba(227, 11, 24, 0.1);
  --font-primary: "Campton";
  --font-secondary: "Campton Book";
  --menu-font-family: "Campton";
  --font-manrope: "Manrope", sans-serif;
  --font-gotu: "Gotu", sans-serif;
}
