$primary: #f8b54a;
$primary-hover: #f8b54a;
$custom-gray: rgb(124, 124, 124);
$parlement: #23303d;
$parlement-hover: #16212c;

$custom-theme-colors: (
  "primary": $primary,
  "gray": $custom-gray,
  "white": #fff,
  "parlement": $parlement
);

$grid-breakpoints: (
  xs: 0,
  sm: 36rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem,
  xxl: 87.5rem,
  xxxl: 75rem
);

$container-max-widths: (
  sm: 33.75rem,
  md: 45rem,
  lg: 60rem,
  xl: 71.25rem,
  xxl: 82.5rem,
  xxxl: 75rem
);