$dark-bg: #181818;
$text-gray: #b0b0b0;
$divider-color: rgba(255, 255, 255, 0.1);

// Markalar Kutusu (Koyu Kırmızı Alan)
.brand-box-container {
    overflow: hidden;

    .embla__viewport {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .embla__container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .embla__slide {
        padding: 0;
    }

    .brand-box {
        border-radius: 1.875rem;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
    }

    .brand-logo {
        width: 25%;
        max-height: 3rem;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        svg,
        img {
            filter: grayscale(100%) brightness(1.2);
            opacity: 0.8;
            object-fit: contain;
            max-height: 3rem;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    @media (max-width: 576px) {
        .brand-box {
            padding: 1rem 0.5rem;
        }

        .embla__slide {
            min-width: 140px;
        }

        .partner-logo {
            max-height: 2.5rem;
            width: auto;
        }
    }
}

#footer {
    position: relative;
    color: $text-gray;
    font-size: 0.9rem;
    padding-top: 2rem;
    overflow: hidden;
    z-index: 2;

    a {
        text-decoration: none;
        color: $text-gray;
        transition: color 0.3s ease;

        &:hover {
            color: var(--primary);
        }
    }

    // Üst Kısım
    .footer-top {
        .footer-contact {
            gap: 5rem;
            .contact-link {
                color: #fff;
                font-weight: 600;
                font-size: 1.125rem;
                text-decoration: underline;
            }
        }

        .footer-desc {
            p {
                font-family: var(--font-primary);
                margin: 0;
                font-size: 1.125rem;
                color: #fff;
            }
        }

        .social-icons {
            a {
                color: #fff;
                font-size: 1.2rem;
                &:hover {
                    opacity: 0.8;
                    color: var(--primary);
                }
            }
        }
    }

    .footer-divider {
        border-color: $divider-color;
        opacity: 1;
        margin: 0;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        .footer-item {
            gap: 0.6rem;

            .contact-info {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                a {
                    margin-bottom: 0.5rem;
                    color: #fff;
                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        .footer-title {
            color: var(--primary);
            font-weight: 400;
            margin-bottom: 1.125rem;
            font-size: 1.5rem;
            font-family: "Gotu", sans-serif;
        }

        ul li {
            margin-bottom: 0.5rem;

            a {
                font-size: 1rem;
                font-weight: 600;
                color: #fff;
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    // En Alt Kısım
    .footer-bottom {
        .copyright-text {
            p {
                margin: 0;
                color: #fff;
                font-size: 0.875rem;
            }
        }

        .privacy-links {
            a {
                color: #fff;
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    @media (max-width: 768px) {
        .footer-top {
            flex-direction: column;
            gap: 1.5rem;
            text-align: center;

            .footer-contact {
                flex-direction: column;
                gap: 0.5rem !important;
            }
        }

        .footer-bottom {
            text-align: center;
            margin-bottom: 8rem;
            .col-md-4 {
                margin-bottom: 0.5rem;
                text-align: center !important;
            }
        }
    }
}

.mobile-bar {
    display: none;
    opacity: 0;
    @media (max-width: 768px) {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        padding: 1rem 2rem;
        bottom: 0.1rem;
        height: 5rem;
        width: 100%;
        background: #0a0a08;
        z-index: 99;
        border-radius: 3rem 3rem;
        a {
            color: #fff;
            font-size: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-decoration: none;
            width: 33.33%;
            i {
                font-size: 1.75rem;
                margin-bottom: 0.5rem;
                color: #fff;
            }
            &.text-primary {
                font-weight: 700;
                i {
                    margin-top: -2rem;
                    background-color: var(--primary);
                    border-radius: 50%;
                    padding: 1rem;
                    font-size: 2rem;
                }
            }
        }
    }
}
