$dark-bg: #181818;
$text-gray: #b0b0b0;
$divider-color: rgba(255, 255, 255, 0.1);

// Markalar Kutusu (Koyu Kırmızı Alan)
.brand-box-container {
    overflow: hidden;

    .embla__viewport {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .embla__container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .embla__slide {
        padding: 0;
    }

    .brand-box {
        border-radius: 1.875rem;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
    }

    .brand-logo {
        width: 25%;
        max-height: 3rem;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        svg,
        img {
            filter: grayscale(100%) brightness(1.2);
            opacity: 0.8;
            object-fit: contain;
            max-height: 3rem;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    @media (max-width: 576px) {
        .brand-box {
            padding: 1rem 0.5rem;
        }

        .embla__slide {
            min-width: 140px;
        }

        .partner-logo {
            max-height: 2.5rem;
            width: auto;
        }
    }
}

#footer {
    position: relative;
    color: $text-gray;
    font-size: 0.9rem;
    padding-top: 2rem;
    overflow: hidden;
    z-index: 2;

    // Üst Kısım
    .footer-top {
        background-color: #f0efef;
        .footer-contact {
            gap: 5rem;
            .contact-link {
                color: #242424;
                font-size: 1.125rem;
                text-decoration: underline;
                font-family: var(--font-secondary);
            }
        }

        .footer-desc {
            p {
                font-family: var(--font-primary);
                margin: 0;
                font-size: 1.125rem;
                color: #fff;
            }
        }

        .social-icons {
            a {
                font-size: 1.2rem;
                &:hover {
                    opacity: 0.8;
                    color: var(--primary);
                }
            }
        }
    }

    .footer-divider {
        border-color: $divider-color;
        opacity: 1;
        margin: 0;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        .footer-item {
            gap: 0.6rem;

            &.item--wide {
                grid-column: span 2;
            }

            .contact-info {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                a {
                    color: #242424;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        .footer-title {
            color: var(--primary);
            font-weight: 600;
            margin-bottom: 1.125rem;
            font-size: 1rem;
        }

        ul li {
            margin-bottom: 0.5rem;

            a {
                font-family: var(--font-secondary);
                color: #242424;
                font-size: 1rem;
                text-decoration: none;
                &:hover {
                    color: var(--primary);
                }
            }
        }

        @media (max-width: 576px) {
            padding: 1rem;
            grid-template-columns: 2fr;
            align-items: flex-start;
            .footer-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 1rem;
                ul.list-unstyled {
                    text-align: left;
                }

                &.item--wide {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    flex-direction: row;
                    border-bottom: 1px solid #fff;
                    .footer-logo {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        text-align: left;
                        width: 100%;
                        border-bottom: 1px solid #fff;
                        .content {
                            p {
                                font-weight: 400;
                            }
                        }
                    }
                    .contact-info {
                        a {
                            color: var(--primary);
                            margin-bottom: 0;
                        }
                    }
                    .contact-info,
                    .footer-social {
                        width: auto;
                    }
                    .footer-social {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    // En Alt Kısım
    .footer-bottom {
        .copyright-text {
            p {
                font-weight: 300;
                margin: 0;
                color: #2f2f2f;
                font-size: 1rem;
            }
        }

        .privacy-links {
            a {
                font-weight: 300;
                color: #0a0a08;
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    @media (max-width: 768px) {
        .footer-top {
            flex-direction: column;
            gap: 1.5rem;
            text-align: center;

            .footer-contact {
                flex-direction: column;
                gap: 0.5rem !important;
            }
        }

        .footer-bottom {
            text-align: center;
            .col-md-4 {
                margin-bottom: 0.5rem;
                text-align: center !important;
            }
        }
    }
}
