header {
  background: transparent;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid #5a5a5a40;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 4px #0000001a;
  transition: all 0.3s ease;

  .top-bar {
    background-color: transparent;
    font-size: 0.85rem;
    color: #fff;

    .language-wrapper {
      a {
        text-decoration: none;
        color: #fff;
        span {
          font-weight: 500;
          color: #fff;
        }
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      height: 1.5rem;
      margin: 0;
      padding: 0;
      a {
        color: #fff;
        transition: color 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.125rem;
        &:hover {
          color: #ffffffab;
        }
      }
    }

    address.contact-info {
      display: flex;
      align-items: center;
      margin: 0;
      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.2s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-right: 1rem;
        &:hover {
          color: #ffffffdc;
        }
      }
      i {
        font-size: 1.2rem;
      }
    }
  }

  nav.navbar {
    background-color: transparent;
    padding: 0 0.5rem;
    z-index: 1;

    .logo-wrapper {
      max-width: 10rem;
      padding: 0.6rem 0;
      .navbar-brand {
        max-width: 10rem;
      }
    }

    .header-right-button {
      padding: 0.6rem 0;
    }

    .navbar-collapse {
      .header-right-wrapper {
        display: flex;
        align-items: center;
        .social-icons {
          li {
            margin: 0;
            a.nav-link {
              color: #fff;
              padding: 0.5rem 1rem;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    /*Custom Toggler*/
    .custom-toggler {
      border: none;
      background: rgb(18, 18, 18);
      box-shadow: 5px 5px 15px #00000057;
      width: 2.75rem;
      height: 2.75rem;
      align-items: center;
      justify-content: center;
      padding: 0;
      transition: all 0.3s ease;
      z-index: 1051;

      i {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1;
        transition: transform 0.3s ease;
      }

      &.collapsed {
        .menu-close-icon {
          display: none;
        }
        .menu-open-icon {
          display: block;
        }
      }

      &:not(.collapsed) {
        background-color: var(--primary);

        .menu-open-icon {
          display: none;
        }
        .menu-close-icon {
          display: block;
          animation: fadeInRotate 0.3s ease;
        }
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    // Opsiyonel: Açılırken ikonun dönerek gelmesi için
    @keyframes fadeInRotate {
      from {
        opacity: 0;
        transform: rotate(-45deg);
      }
      to {
        opacity: 1;
        transform: rotate(0);
      }
    }

    .nav-item {
      margin: 0 0.5rem;

      a {
        text-decoration: none;
        position: relative;

        &.nav-link {
          font-family: var(--menu-font-family);
          color: #fff;
          font-weight: 600;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.6rem 1rem;
          border: 2px solid transparent;
          i {
            margin-left: 0.5rem;
          }
        }

        &.nav-link::before,
        &.nav-link::after {
          content: "";
          position: absolute;
          display: block;
          border: 0 solid transparent;
          width: 0%;
          height: 0%;
          transition: all 0.3s ease;
        }

        &.nav-link::after {
          top: 0;
          left: 0;
          border-top: 0.125rem solid transparent;
          border-left: 0.125rem solid transparent;
        }

        &.nav-link::before {
          right: 0;
          bottom: 0;
          border-bottom: 0.125rem solid transparent;
          border-right: 0.125rem solid transparent;
        }

        &.nav-link:hover::before,
        &.nav-link:hover::after {
          width: 0.8125rem;
          height: 0.8125rem;
          border-color: var(--primary);
        }

        &.nav-link:hover {
          transform: scale(0.95);
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      padding: 1.5rem 0 1rem 0rem;
      border-left: none;
      border-right: none;
      border-bottom: none;
      left: 0;
      top: 3rem;
      border-top: 0;
      background: #fff;
      border-radius: 0;
      z-index: 1001;
      box-shadow: 2px 2px 6px #00000057;

      --arrow-size: 0.6rem;
      --radius: 5px;
      clip-path: polygon(
        0 calc(var(--arrow-size) + var(--radius)),
        0 100%,
        100% 100%,
        100% calc(var(--arrow-size) + var(--radius)),
        calc(10% + var(--arrow-size)) calc(var(--arrow-size) + var(--radius)),
        17% 0,
        calc(25% - var(--arrow-size)) calc(var(--arrow-size) + var(--radius)),
        0 calc(var(--arrow-size) + var(--radius))
      );

      /*
      &::before {
        left: 20%;
        top: 0;
        position: absolute;
        content: "";
        border-right: 30px solid rgba(255, 255, 255, 0);
        border-left: 30px solid rgba(255, 255, 255, 0);
        border-top: 30px solid white;
        border-bottom: 30px solid rgba(255, 255, 255, 0);
      }
      */

      li {
        position: relative;
      }

      li:first-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }
      }

      li:last-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }

      .dropdown-item {
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0.6rem 1.5rem 0.6rem 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          min-width: 11rem;
        }

        svg {
          color: #fff;
          fill: #fff;
        }

        &:hover {
          color: var(--primary);
          background-color: transparent;
          &::after {
            display: none;
          }
          &::before {
            display: none;
          }
        }
      }

      .dropdown-item.active,
      .dropdown-item:active {
        color: var(--primary);
      }

      @media (max-width: 991px) {
        position: relative;
        border: 0 !important;
        top: 0;
        padding: 0.3rem 0 0 0;

        .dropdown-item {
          margin: 0;
        }
      }
    }

    .dropdown-submenu {
      position: relative; // Alt menünün pozisyonunu belirler

      .dropdown-menu {
        margin-left: 0rem;
        left: 100%; // Sağ tarafta açılmasını sağlar
        top: 0;
        margin-top: -1px; // Dikey hizalamayı ayarlar
        visibility: hidden; // Varsayılan olarak gizler
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }

      // Mobil görünüm için
      @media (max-width: 991px) {
        .dropdown-menu {
          position: relative;
          left: 0;
          top: 0;
          margin-top: 0;
          display: none; // Gizler
        }

        &:hover > .dropdown-menu {
          display: block; // Görünür yapar
        }
      }
    }
  }

  &.fixed-top {
    background: #000000e0;
    box-shadow: 0 2px 6px #00000029;
    transition: all 0.3s ease-in-out;
    .top-bar {
      display: none;
    }
    @media (min-width: 991.98px) {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      nav.navbar {
        .nav-item {
          margin: 0 0.8rem;
          a.nav-link {
            color: #fff;
          }
        }
      }
    }
    &.dropdown-menu {
      z-index: 1051;
    }
  }

  @media (max-width: 1200px) {
    nav.navbar {
      padding: 0.5rem 1rem;

      .logo-wrapper {
        max-width: 10rem;
      }

      .navbar-collapse {
        .header-right-wrapper {
          .social-icons {
            margin-top: 0;
            li {
              margin: 0;
              a.nav-link {
                font-size: 1rem;
                color: #ffffff;
                padding: 0.5rem 0.4rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .nav-item {
        margin: 0rem;

        .nav-link {
          font-size: 0.75rem;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    nav.navbar {
      height: auto;

      .logo-wrapper {
        max-width: 9rem;
        z-index: 1051;
      }

      .navbar-collapse {
        margin-top: 1rem;
        z-index: 99;
        .header-right-wrapper {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          justify-content: space-between;
          .social-icons {
            li {
              a.nav-link {
                padding: 0.4rem 0.6rem;
              }
            }
          }
        }
        &.collapse.show {
          background-color: rgb(18, 18, 18, 0.98);
          position: fixed;
          top: 0;
          width: 100%;
          left: 0;
          margin: 0;
          padding: 2rem 1rem;
          height: auto;
          overflow-x: hidden;
          & > .navbar-nav {
            margin-top: 3rem;
          }
        }
      }

      .logo-wrapper {
        max-width: 100px;
      }

      .nav-item {
        margin: 0.6rem 0;

        .nav-link {
          font-size: 14px;
        }
      }
    }

    li.nav-item.dropdown.custom-dropdown-menu .dropdown-menu {
      margin: 0.5rem 0;
    }
  }

  @media (min-width: 991.98px) {
    a.dropdown-toggle {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-collapse {
      height: 3.75rem;
    }

    ul.navbar-nav {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;

      li.nav-item {
        height: 100%;
        align-items: center;
        display: flex;
        height: auto;
        justify-content: center;
      }
    }
  }

  @media (max-width: 36rem) {
    top: 0;
  }
}
