@use "_variables.scss" as *;

#carouselSlider {
    height: 100vh;
    .carousel-inner {
        height: 100vh;
        .carousel-item {
            height: 100vh;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: zoom-and-move 20s ease-in-out infinite;
            }
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .carousel-caption {
            position: absolute;
            top: 0;
            right: 15%;
            bottom: 0;
            left: 15%;
            align-items: center;
            display: flex;

            .hero-heading {
                display: flex;
                flex-direction: column;

                .hero-title {
                    font-size: 4.5rem;
                    font-weight: 600;
                    color: #fff;
                }
                .hero-subtitle {
                    font-size: 2.25rem;
                    color: #fff;
                    margin-top: 1rem;
                }
                a {
                    order: 3;
                }
                img.hero-logo {
                    max-width: 9rem;
                    max-height: 5rem;
                    object-fit: cover;
                    animation: none !important;
                    order: 2;
                    margin-left: 0.1rem;
                    margin-top: 1rem;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(to bottom, rgba(18, 18, 18, 0.6) 0%, rgba(18, 18, 18, 0) 25%, rgba(18, 18, 18, 0.6) 100%);
        }
    }
    .carousel-controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 4rem;
        margin: 0 auto;
        button {
            i {
                font-size: 2rem;
                color: #fff;
            }
        }
    }
    .social-icons {
        padding: 0 2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a {
            color: #fff;
            font-size: 1.5rem;
            transition: color 0.3s ease;

            &:hover {
                color: #ccc;
            }
        }
    }
    @media (max-width: 991.98px) {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    left: 5%;
                    right: 5%;

                    .hero-heading {
                        .hero-title {
                            font-size: 3rem;
                        }
                        .hero-subtitle {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        height: 70vh;
        .carousel-inner {
            height: 70vh;
            .carousel-item {
                height: 70vh;
                .carousel-caption {
                    left: 1rem;
                    right: 1rem;

                    .hero-heading {
                        .hero-title {
                            font-size: 2rem;
                        }
                        .hero-subtitle {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
        .social-icons {
            flex-direction: row;
            bottom: 1rem;
            top: initial;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            a {
                margin: 0 0.5rem;
            }
        }
        .carousel-controls {
            width: 100%;
            top: 50%;
        }
    }
}

.sub-page {
    #carouselSlider {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 50%;
                    top: 50%;
                    width: 100%;
                    transform: translate(0, -50%);
                    height: fit-content;
                    z-index: 1;

                    .hero-heading {
                        display: flex;
                        flex-direction: column;
                        .order-1 {
                            order: 1;
                        }
                        .order-2 {
                            order: 2;
                        }
                    }

                    .hero-title {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 200;
                        font-size: 2.25rem;
                    }
                    .hero-subtitle {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 600;
                        font-size: 4.5rem;
                    }
                    .carousel-content {
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &.line-clamp-7 {
                            -webkit-line-clamp: 7;
                        }
                        p {
                            font-size: 1.3125rem;
                            font-weight: 300;
                        }
                    }
                    .service-page-banner-image {
                        min-width: 24.375rem;
                        max-height: 24.375rem;
                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 1.875rem;
                            min-width: 24.375rem;
                            max-height: 24.375rem;
                        }
                    }
                    .carousel-description {
                        position: absolute;
                        @media (max-width: 36rem) {
                            position: relative;
                        }
                    }

                    @media (max-width: 991.98px) {
                        .service-page-banner-image {
                            min-width: 16rem;
                            max-height: 16rem;
                            img {
                                min-width: 16rem;
                                max-height: 16rem;
                            }
                        }
                    }
                    @media (max-width: 768px) {
                        left: 0rem;
                        right: 0rem;
                    }
                }
            }
        }

        .carousel-bottom-area {
            position: relative;
        }
        .circle-web-animation {
            bottom: initial;
            left: initial;
        }
    }

    .hero-half {
        #carouselSlider {
            height: 60vh;
        }
    }

    .full-bg-image {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            opacity: 0.8;
            z-index: 1;
            animation: zoom-and-move 20s infinite;
        }

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            z-index: 2;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            mix-blend-mode: multiply;
            background-color: rgba(18, 18, 18, 0.6);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 160px;
            z-index: 2;
            pointer-events: none;
            background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.6) 50%, #121212 100%);
        }
    }

    .full-hero {
        z-index: 2;
        padding: 10rem 0 0 0;
        .hero-subtitle {
            font-weight: 600;
        }
        h1,
        h2,
        h3,
        h4,
        h5 p {
            color: #ffffff;
        }
        .d-order {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            h1 {
                order: 2;
            }
            h2 {
                order: 1;
            }
            .hero-title {
                font-size: 3rem;
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .hero-subtitle {
                font-weight: 300;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    @media (max-width: 576px) {
        #carouselSlider {
            .carousel-inner {
                .carousel-item {
                    .carousel-caption {
                        .hero-title {
                            font-size: 2rem;
                        }
                        .hero-subtitle {
                            font-size: 2.5rem;
                        }
                        .carousel-content {
                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .full-bg-image {
            height: 100vh;
            img {
                height: 100vh;
            }
        }
        .full-hero {
            padding: 5rem 1rem 0 1rem;
            .d-order {
                h1 {
                    font-size: 1.5rem;
                }
                .hero-subtitle {
                    font-size: 1rem;
                }
            }
        }
    }
}

.full-hero {
    position: relative;
    overflow: hidden;
}
